<div class="container my-2">
    <div class="row">
        <div class="col">
            <h5>Роли</h5>
            <form method="POST" action="/role/add">
                <div class="row">
                    <div class="col">
                        <input class="form-control my-1" type="text" name="name" placeholder="Название" required>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary my-1" type="submit"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <h5>Хабы</h5>
            <form method="POST" action="/hub/add">
                <div class="row">
                    <div class="col">
                        <input class="form-control my-1" type="text" name="name" placeholder="Название" required>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary my-1" type="submit"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for role in roles %}
                {% if role.id != 1 %}
                    <form action="/role/delete/{{role.id}}" method="POST" style="display: inline-block;">
                        <button type="submit" class="btn btn-sm btn-outline-secondary" onclick="return confirm('Удалить?')">
                            {{role.name}}
                            <span class="badge rounded-pill bg-danger">
                                <i class="bi bi-x"></i>
                            </span>
                        </button>
                    </form>
                {% else %}
                    <button type="submit" class="btn btn-sm btn-outline-secondary">
                        {{role.name}}
                    </button>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            {% for hub in hubs %}
                {% if hub.id != 1 %}
                    <form action="/hub/delete/{{hub.id}}" method="POST" style="display: inline-block;">
                        <button type="submit" class="btn btn-sm btn-outline-secondary" onclick="return confirm('Удалить?')">
                            {{hub.name}}
                            <span class="badge rounded-pill bg-danger">
                                <i class="bi bi-x"></i>
                            </span>
                        </button>
                    </form>
                {% else %}
                    <button type="submit" class="btn btn-sm btn-outline-secondary">
                        {{hub.name}}
                    </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% if users %}
    <div class="container mb-1">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Фильтр" id="filter">
            </div>
        </div>
    </div>
    <div class="container border bg-white" id="items">
        <div class="row mb-3 fw-bold">
            <div class="col overflow-hidden">
                Имя
            </div>
            <div class="col overflow-hidden">
                Email
            </div>
            <div class="col overflow-hidden">
                Роли
            </div>
        </div>
        {% for user_roles in users %}
            {% set user = user_roles.0 %}
            {% set roles = user_roles.1 %}
            <div class="row mb-3 border-bottom selectable" data-bs-toggle="modal" data-bs-target="#userModal" hx-post="/user/modal/{{user.id}}" hx-swap="innerHTML" hx-target="#userModalBody">
                <div class="col overflow-hidden">
                    {{user.name}}
                </div>
                <div class="col overflow-hidden">
                    {{user.email}}
                </div>
                <div class="col overflow-hidden">
                    {% for role in roles %}
                        <span class="badge rounded-pill text-bg-light">{{role.name}}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="userModalLabel">Редактировать пользователя</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="userModalBody">
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const filter = document.getElementById("filter");
            const items = document.getElementById("items");

            if (filter && items){
                filter.addEventListener("keyup", () => {
                    const filterValue = filter.value.toLowerCase();
                    const itemRows = items.querySelectorAll(".selectable");

                    itemRows.forEach(row => {
                        const rowText = row.textContent.toLowerCase();
                        const showRow = rowText.indexOf(filterValue) > -1;
                        if (showRow)
                            row.classList.remove("d-none")
                        else
                            row.classList.add("d-none");
                    });
                });
            }
        });
    </script>
{% endblock %}