{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-muted fw-bold">
                    Авторизация
                </div>
                <div class="card-body">
                    <form method="POST" action="/auth/login{%if next%}?next={{next}}{%endif%}">
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label" for="email">Электронная почта</label>
                            <div class="col-md-6">
                                <input autofocus="" class="form-control" id="email" name="email" required="" type="email" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label" for="password">Пароль</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        id="password" 
                                        name="password" 
                                        required 
                                    >
                                    <button 
                                        class="btn btn-outline-secondary" 
                                        type="button" 
                                        id="togglePassword"
                                        tabindex="-1"
                                    >
                                        <i class="bi bi-eye" id="togglePasswordIcon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label" for="hub_id">Хаб</label>
                            <div class="col-md-6">
                                <select class="form-select" id="hub_id" name="hub_id" required>
                                    <option value="" selected disabled>Выбор хаба</option>
                                    {% for hub in hubs | default(value=[]) %}
                                        <option value="{{hub.id}}">{{hub.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 offset-md-4">
                                <input class="btn btn-primary text-white" id="submit" name="submit" type="submit" value="Авторизация">
                                <a href="/auth/signup{%if next%}?next={{next}}{%endif%}" class="btn btn-link">Регистрация</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script>
        const passwordInput = document.getElementById('password');
        const togglePasswordButton = document.getElementById('togglePassword');
        const togglePasswordIcon = document.getElementById('togglePasswordIcon');

        togglePasswordButton.addEventListener('click', () => {
            const isPassword = passwordInput.type === 'password';
            passwordInput.type = isPassword ? 'text' : 'password';
            togglePasswordIcon.classList.toggle('bi-eye');
            togglePasswordIcon.classList.toggle('bi-eye-slash');
        });
    </script>
{% endblock %}